<div class="row" style="padding-bottom:5px;border-bottom:1px solid lightpink;">
    <div class="col-md-3" style="padding-top:15px;" ><img src="../assets/Images/LogoExplicit1.png" class="container-fluid" /></div>
    <div class="col-md-3" style="min-width:300px;">
      
        <div id="searchCell"  style="padding-left:15px;padding-bottom:8px; padding-right:15px;display:none;">
            <span style="font-size:9pt;">Search by Tags and Titles or <a style="color:#C60000; cursor:pointer; text-decoration:underline;" (click)="updateSearchParameters('genre', 'All')" onclick="HideDIV('searchCell'); DisplayDIV('tagsCell');">Select a Genre</a> </span>
            <table style="width:100%;"><tr><td style="padding-right:8px;">
              <input type="text" placeholder="search by tag" id="searchKeyword" [(ngModel)]="model" [ngbTypeahead]="search" class="form-control" #keywordSearch />
            </td><td>
                <button ngbButtonLabel (click)="searchEntries(keywordSearch.value)" class="btn-primary" style="width:100%;">
                   Search
                </button>            
              </td></tr></table>  
             
          </div>
          <div id="tagsCell" style="padding-left:15px; padding-right:15px; padding-bottom:8px;">
              <span style="font-size:9pt;">Select a Genre or <a style="color:#C60000; cursor:pointer; text-decoration:underline;" (click)="updateSearchParameters('genre', 'All')"  onclick="HideDIV('tagsCell'); DisplayDIV('searchCell');">Search by Tags and Titles</a> </span>
              <div ngbDropdown class="d-inline-block sexploreDropdown" style="width:100%;text-align:left;">
                  <button class="btn btn-outline-primary" id="dropdownBasic1" style="width:100%;text-align:left;" placeholder="Select a Genre" ngbDropdownToggle>{{searchParameters.genre}} </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button onclick="document.getElementById('genre').innerHTML='All';" (click)="updateSearchParameters('genre', 'All')" class="dropdown-item">All</button>
                    <button onclick="document.getElementById('genre').innerHTML='Anal';" (click)="updateSearchParameters('genre', 'Anal')" class="dropdown-item">Anal</button>
                    <button onclick="document.getElementById('genre').innerHTML='Ass Play';" (click)="updateSearchParameters('genre', 'Ass Play')"
                      class="dropdown-item">Ass Play</button>
                    <button onclick="document.getElementById('genre').innerHTML='BDSM';" (click)="updateSearchParameters('genre', 'BDSM')" class="dropdown-item">BDSM</button>
                    <button onclick="document.getElementById('genre').innerHTML='Cam Models';" (click)="updateSearchParameters('genre', 'Cam Models')"
                      class="dropdown-item">Cam Models</button>
                    <button onclick="document.getElementById('genre').innerHTML='Straight';" (click)="updateSearchParameters('genre', 'Straight')"
                      class="dropdown-item">Straight</button>
                    <button onclick="document.getElementById('genre').innerHTML='Domination/Submission';" (click)="updateSearchParameters('genre', 'Domination/Submission')"
                      class="dropdown-item">Domination/Submission</button>
                    <button onclick="document.getElementById('genre').innerHTML='Feet Play';" (click)="updateSearchParameters('genre', 'Feet Play')"
                      class="dropdown-item">Feet Play</button>
                      <button onclick="document.getElementById('genre').innerHTML='Fisting';" (click)="updateSearchParameters('genre', 'Fisting')"
                      class="dropdown-item">Fisting</button>
                    <button onclick="document.getElementById('genre').innerHTML='Foot Job';" (click)="updateSearchParameters('genre', 'Foot Job')"
                      class="dropdown-item">Foot Job</button>
                    <button onclick="document.getElementById('genre').innerHTML='Masturbation';" (click)="updateSearchParameters('genre', 'Masturbation')"
                      class="dropdown-item">Masturbation</button>
                    <button onclick="document.getElementById('genre').innerHTML='Public Sex';" (click)="updateSearchParameters('genre', 'Public Sex')"
                      class="dropdown-item">Public Sex</button>
                    <button onclick="document.getElementById('genre').innerHTML='Role Playing';" (click)="updateSearchParameters('genre', 'Role Playing')"
                      class="dropdown-item">Role Playing</button>
                    <button onclick="document.getElementById('genre').innerHTML='Squirting';" (click)="updateSearchParameters('genre', 'Squirting')"
                      class="dropdown-item">Squirting</button>
                    <button onclick="document.getElementById('genre').innerHTML='Teasing';" (click)="updateSearchParameters('genre', 'Teasing')"
                      class="dropdown-item">Teasing</button>
                    <button onclick="document.getElementById('genre').innerHTML='Watersports';" (click)="updateSearchParameters('genre', 'Watersports')"
                      class="dropdown-item">Watersports</button>
                    <button onclick="document.getElementById('genre').innerHTML='SURPRISE ME!!';" (click)="updateSearchParameters('genre', 'SURPRISE')"
                      class="dropdown-item">SURPRISE ME!!</button>
            
                  </div>
                </div>
          </div>
    </div>
    <div class="col-md-2" style="padding-bottom:8px;min-width:275px;"><span style="font-size:9pt;padding-left:15px; ">Threshold</span><br />
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="thresholdModel" style="width:100%;padding-left:15px; padding-right:15px;">
            <label ngbButtonLabel class="btn-primary" style="width:100%;">
              <input ngbButton type="radio" (click)="updateSearchParameters('threshold', 'Low')" [value]="1"> Low
            </label>
            <label ngbButtonLabel class="btn-primary" style="width:100%;">
              <input ngbButton type="radio" (click)="updateSearchParameters('threshold', 'Medium')" [value]="Medium" [value]="2"> Medium
            </label>
            <label ngbButtonLabel class="btn-primary" style="width:100%;">
              <input ngbButton type="radio" (click)="updateSearchParameters('threshold', 'High')" [value]="3"> High
            </label>
          </div>
    </div>
    <div class="col-md-2" style="padding-bottom:8px;min-width:275px;"><span style="font-size:9pt;padding-left:15px; ">Media Type</span><br />
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="mediaModel" style="width:100%;padding-left:15px; padding-right:15px;">
            <label ngbButtonLabel class="btn-primary" style="width:100%;">
              <input ngbButton type="radio" (click)="updateSearchParameters('type', 'Video')"[value]="1"> Videos
            </label>
            <label ngbButtonLabel class="btn-primary" style="width:100%;">
              <input ngbButton type="radio" (click)="updateSearchParameters('type', 'Images')" [value]="Medium" [value]="2"> Images
            </label>
            <label ngbButtonLabel class="btn-primary" style="width:100%;">
              <input ngbButton type="radio" (click)="updateSearchParameters('type', 'All')" [value]="3"> All
            </label>
          </div>
        </div>

</div>
<div class="row" style="display:none;">
    <div class="col-md-3" >
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="thresholdModel">
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" (click)="updateSearchParameters('threshold', 'Low')" [value]="1"> Low
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" (click)="updateSearchParameters('threshold', 'Medium')" [value]="Medium" [value]="2"> Medium
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" (click)="updateSearchParameters('threshold', 'High')" [value]="3"> High
            </label>
          </div>
    </div>
    <div class="col-md-3" style="">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="thresholdModel">
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" (click)="updateSearchParameters('type', 'Video')"[value]="1"> Videos
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" (click)="updateSearchParameters('type', 'Images')" [value]="Medium" [value]="2"> Images
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" (click)="updateSearchParameters('type', 'All')" [value]="3"> All
            </label>
          </div>








      <div class="row" style="display:none;">
        <div class="col-md-3"> 
        <div id="thrshldLbl" placement="bottom" ngbTooltip="Click to set your Threshold" >Threshold: <span onclick="DisplayDIV('thrshld');HideDIV('thrshldLbl');" style="color:blue;cursor:pointer;">"{{searchParameters.threshold}}"</span></div>
        <div id="thrshld"  style="padding-top:5px; padding-bottom:5px;display:none;">
            <div ngbDropdown class="d-inline-block sexploreDropdown" style="text-align:left;">
              <button class="btn btn-outline-primary" id="dropdownBasic1" style="text-align:left;" ngbDropdownToggle>Threshold <label id="threshold" style=""></label> </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button onclick="document.getElementById('threshold').innerHTML='Low';HideDIV('thrshld');DisplayDIV('thrshldLbl');" (click)="updateSearchParameters('threshold', 'Low')"
                  class="dropdown-item">Low - Keep it tame. Softcore stuff only.</button>
                <button onclick="document.getElementById('threshold').innerHTML='Medium';HideDIV('thrshld');DisplayDIV('thrshldLbl');" (click)="updateSearchParameters('threshold', 'Medium')"
                  class="dropdown-item">Medium - I'm Pretty cultured. But don't go too far.</button>
                <button onclick="document.getElementById('threshold').innerHTML='High';HideDIV('thrshld');DisplayDIV('thrshldLbl');" (click)="updateSearchParameters('threshold', 'High')"
                  class="dropdown-item">High - Gimmie Gimmie Gimmie. My freak flag is flying high!</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" placement="bottom" ngbTooltip="Click to specify your Media Preference" >Media Preference: <span onclick="DisplayDIV('');"  style="color:blue;cursor:pointer;">"{{searchParameters.type}}"</span></div>
        <div class="col-md-4" placement="bottom" ngbTooltip="Click to select a Genre" >Genre: <span onclick="DisplayDIV('');"  style="color:blue; cursor:pointer;">"{{searchParameters.genre}}"</span></div>
      </div>
      

    </div>
    
    <div class="col-md-4" ></div>
</div>

<div class="row" style="padding-top:15px; padding-bottom:15px; background-color:lightpink; border-bottom:1px solid pink;display:none;">
  <div class="col-md-1" style=""></div>
  <div class="col-md-3" style="padding-top:5px; padding-bottom:5px;">
    <div ngbDropdown class="d-inline-block sexploreDropdown" style="width:100%;text-align:left;">
      <button class="btn btn-outline-primary" id="dropdownBasic1" style="width:100%;text-align:left;" ngbDropdownToggle>Genre <label id="genre" style="width:100%;"></label> </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button onclick="document.getElementById('genre').innerHTML='All';" (click)="updateSearchParameters('genre', 'All')" class="dropdown-item">All</button>
        <button onclick="document.getElementById('genre').innerHTML='Anal';" (click)="updateSearchParameters('genre', 'Anal')" class="dropdown-item">Anal</button>
        <button onclick="document.getElementById('genre').innerHTML='Ass Play';" (click)="updateSearchParameters('genre', 'Ass Play')"
          class="dropdown-item">Ass Play</button>
        <button onclick="document.getElementById('genre').innerHTML='BDSM';" (click)="updateSearchParameters('genre', 'BDSM')" class="dropdown-item">BDSM</button>
        <button onclick="document.getElementById('genre').innerHTML='Cam Models';" (click)="updateSearchParameters('genre', 'Cam Models')"
          class="dropdown-item">Cam Models</button>
        <button onclick="document.getElementById('genre').innerHTML='Straight';" (click)="updateSearchParameters('genre', 'Straight')"
          class="dropdown-item">Straight</button>
        <button onclick="document.getElementById('genre').innerHTML='Domination/Submission';" (click)="updateSearchParameters('genre', 'Domination/Submission')"
          class="dropdown-item">Domination/Submission</button>
        <button onclick="document.getElementById('genre').innerHTML='Feet Play';" (click)="updateSearchParameters('genre', 'Feet Play')"
          class="dropdown-item">Feet Play</button>
          <button onclick="document.getElementById('genre').innerHTML='Fisting';" (click)="updateSearchParameters('genre', 'Fisting')"
          class="dropdown-item">Fisting</button>
        <button onclick="document.getElementById('genre').innerHTML='Foot Job';" (click)="updateSearchParameters('genre', 'Foot Job')"
          class="dropdown-item">Foot Job</button>
        <button onclick="document.getElementById('genre').innerHTML='Masturbation';" (click)="updateSearchParameters('genre', 'Masturbation')"
          class="dropdown-item">Masturbation</button>
        <button onclick="document.getElementById('genre').innerHTML='Public Sex';" (click)="updateSearchParameters('genre', 'Public Sex')"
          class="dropdown-item">Public Sex</button>
        <button onclick="document.getElementById('genre').innerHTML='Role Playing';" (click)="updateSearchParameters('genre', 'Role Playing')"
          class="dropdown-item">Role Playing</button>
        <button onclick="document.getElementById('genre').innerHTML='Squirting';" (click)="updateSearchParameters('genre', 'Squirting')"
          class="dropdown-item">Squirting</button>
        <button onclick="document.getElementById('genre').innerHTML='Teasing';" (click)="updateSearchParameters('genre', 'Teasing')"
          class="dropdown-item">Teasing</button>
        <button onclick="document.getElementById('genre').innerHTML='Watersports';" (click)="updateSearchParameters('genre', 'Watersports')"
          class="dropdown-item">Watersports</button>
        <button onclick="document.getElementById('genre').innerHTML='SURPRISE ME!!';" (click)="updateSearchParameters('genre', 'SURPRISE')"
          class="dropdown-item">SURPRISE ME!!</button>

      </div>
    </div>
  </div>
  <div class="col-md-2" style="padding-top:5px; padding-bottom:5px;">
    <div ngbDropdown class="d-inline-block sexploreDropdown" style="width:100%;text-align:left;">
      <button class="btn btn-outline-primary" id="dropdownBasic1" style="width:100%;text-align:left;" ngbDropdownToggle>Threshold <label id="threshold" style="width:100%;"></label> </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button onclick="document.getElementById('threshold').innerHTML='Low';" (click)="updateSearchParameters('threshold', 'Low')"
          class="dropdown-item">Low - Keep it tame. Softcore stuff only.</button>
        <button onclick="document.getElementById('threshold').innerHTML='Medium';" (click)="updateSearchParameters('threshold', 'Medium')"
          class="dropdown-item">Medium - I'm Pretty cultured. But don't go too far.</button>
        <button onclick="document.getElementById('threshold').innerHTML='High';" (click)="updateSearchParameters('threshold', 'High')"
          class="dropdown-item">High - Gimmie Gimmie Gimmie. My freak flag is flying high!</button>
      </div>
    </div>
  </div>
  <div class="col-md-1" style="padding-top:5px; padding-bottom:5px;">
    <div ngbDropdown class="d-inline-block sexploreDropdown" style="width:100%;text-align:left;">
      <button class="btn btn-outline-primary" id="dropdownBasic1" style="width:100%;text-align:left;" ngbDropdownToggle>Type <label id="type" style="width:100%;"></label> </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button onclick="document.getElementById('type').innerHTML='Videos';" (click)="updateSearchParameters('type', 'Video')" class="dropdown-item">Videos</button>
        <button onclick="document.getElementById('type').innerHTML='Images';" (click)="updateSearchParameters('type', 'Images')"
          class="dropdown-item">Images</button>
      </div>
    </div>
  </div>
  <div class="col-md-3" style="">
    <div class="row">
      <div class="col-md-8" style="padding-top:5px; padding-bottom:5px;">
        <input type="text" placeholder="search by tag" id="searchKeyword" [(ngModel)]="model" [ngbTypeahead]="search" class="form-control" #keywordSearch />
      </div>
      <div class="col-md-4" style="padding-top:5px; padding-bottom:5px;">
        <button class="btn btn-outline-primary sexploreDropdown" style="width:100%;" (click)="searchEntries(keywordSearch.value)">Search</button>
      </div>


    </div>
  </div>
  <div class="col-md-1" style=""></div>
</div>

<div class="container-fluid" style="padding-top:15px;">
    <div *ngIf="releveantAds.length < 1" class="" style="padding-top:10%; text-align:center;padding-bottom:50px;">
        <img src="../assets/Images/giphy.gif" /><br /><span style="font-size:15pt; color:pink;">Loading Content</span>
    </div>
  <div class="row">
      
    <div class="col-sm-2" style="padding-bottom:25px;" *ngFor="let entry of pageResults">
      <div class="col-md-12" style="padding-bottom:0px;text-align:center;">

        <div *ngIf="entry.thumbnail" class="thumbnail" style="border-radius: 10px;"><a [href]='sanitizer.bypassSecurityTrustResourceUrl(entry.link)' target="blank"><img src="../assets/Images/{{entry.thumbnail}}" class="container-fluid" style="max-height:250px; max-width:300px;border-radius: 10px;" alt="" ></a></div>
        <div *ngIf="entry.thumbnailURL" class="thumbnailURL" ><a [href]='sanitizer.bypassSecurityTrustResourceUrl(entry.link)' target="blank"><img src="{{entry.thumbnailURL}}"  alt="" /></a></div>
        
        <div>{{entry.title}}</div>
        <div style="font-size:9pt;">{{entry.description}}<br /><span style="color:#c60000;"><strong>genre:</strong></span> {{entry.genre}} <span style="color:#c60000;">|</span>
          <span style="color:#c60000;"><strong>threshold:</strong></span> {{entry.threshold}} <br />
          <span style="color:#c60000;"><strong>tags:</strong></span>
          <a style="color:blue; cursor:pointer; text-decoration:underline;" (click)="searchEntries(entry.keyword.tag1)">{{entry.keyword.tag1}}</a>
          <a style="color:blue; cursor:pointer; text-decoration:underline;" class="tag" (click)="searchEntries(entry.keyword.tag2)">{{entry.keyword.tag2}} </a>
          <a style="color:blue; cursor:pointer; text-decoration:underline;" class="tag" (click)="searchEntries(entry.keyword.tag3)" >{{entry.keyword.tag3}} </a>
          <a style="color:blue; cursor:pointer; text-decoration:underline;" class="tag" (click)="searchEntries(entry.keyword.tag4)" >{{entry.keyword.tag4}} </a>
          <a style="color:blue; cursor:pointer; text-decoration:underline;" class="tag" (click)="searchEntries(entry.keyword.tag5)" >{{entry.keyword.tag5}} </a>
                                      </div>
        </div>
    </div>
    
    <div class="col-sm-12">
    <ngb-pagination #pagination class="d-flex justify-content-center" [ellipses]="true" [collectionSize]="collectionSize" [(page)]="currentPage"></ngb-pagination>
 </div>
</div><div class="row">
    <div class="col-sm-3" style=""></div>
    <div class="col-sm-6" style="padding-top:35px;padding-bottom:25px;">
    <div class="col-sm-12" style="text-align:center;color:hotpink;" >Our content sponsors and affiliations</div>
    <div class="row">
    <div class="col-sm-2" style="vertical-align:middle; padding:8px 8px 8px 8px;" *ngFor="let ad of releveantAds">
        <div  [innerHTML]="ad.affiliateMedia"></div>
    </div>
  </div>
  </div>
  <div class="col-sm-3" ></div>

      
    
      </div></div>