<div class="row" style="padding-bottom:5px;border-bottom:1px solid lightpink;">
    <div class="col-md-3" style="padding-top:15px;" ><img src="../assets/Images/LogoExplicit1.png" class="container-fluid" /></div>
    <div class="col-md-3" style="min-width:300px;">
      
        <div id="searchCell"  style="padding-left:15px;padding-bottom:8px; padding-right:15px;display:none;">
            <span style="font-size:9pt;">Search by Tags or <a style="color:#C60000; cursor:pointer; text-decoration:underline;" (click)="updateSearchParameters('genre', 'All')" onclick="HideDIV('searchCell'); DisplayDIV('tagsCell');DisplayDIV('thresholdContainer');DisplayDIV('mediaContainer');">Select a Genre</a> </span>
            <table style="width:100%;"><tr><td style="padding-right:8px;">
              <input type="text" placeholder="search by tag" id="searchKeyword" [(ngModel)]="model" [ngbTypeahead]="search" class="form-control" #keywordSearch />
            </td><td>
                <button ngbButtonLabel (click)="searchEntries(keywordSearch.value)" class="btn-primary" style="width:100%;">
                   Search
                </button>            
              </td></tr></table>  
             
          </div>
          <div id="tagsCell" style="padding-left:15px; padding-right:15px; padding-bottom:8px;">
              <span style="font-size:9pt;">Select a Genre or <a style="color:#C60000; cursor:pointer; text-decoration:underline;" (click)="updateSearchParameters('genre', 'All')"  onclick="HideDIV('tagsCell'); DisplayDIV('searchCell');HideDIV('thresholdContainer');HideDIV('mediaContainer');">Search by Tags and Titles</a> </span>
              <div ngbDropdown class="d-inline-block sexploreDropdown" style="width:100%;text-align:left;">
                  <button class="btn btn-outline-primary" id="dropdownBasic1" style="width:100%;text-align:left;" placeholder="Select a Genre" ngbDropdownToggle>{{searchParameters.genre}} </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button *ngFor="let genre of genres" (click)="updateSearchParameters('genre', genre)" class="dropdown-item">{{genre}}</button>
                    
            
                  </div>
                </div>
          </div>
    </div>
    <div id="thresholdContainer" class="col-md-3" style="padding-bottom:8px;min-width:300px;"><span style="font-size:9pt;padding-left:15px; ">Threshold</span><br />
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="thresholdModel" style="width:100%;padding-left:15px; padding-right:15px;">
            <label ngbButtonLabel class="btn-primary" style="width:100%;">
              <input ngbButton type="radio" (click)="updateSearchParameters('threshold', 'Low')" [value]="1"> Low <span class="badge">{{lowTCnt}}</span>
            </label>
            <label ngbButtonLabel class="btn-primary" style="width:100%;">
              <input ngbButton type="radio" (click)="updateSearchParameters('threshold', 'Medium')"  [value]="2"> Medium <span class="badge">{{medTCnt}}</span>
            </label>
            <label ngbButtonLabel class="btn-primary" style="width:100%;">
              <input ngbButton type="radio" (click)="updateSearchParameters('threshold', 'High')" [value]="3"> High <span class="badge">{{hiTCnt}}</span>
            </label>
          </div>
    </div>
    <div id="mediaContainer" class="col-md-3" style="padding-bottom:8px;min-width:300px;"><span style="font-size:9pt;padding-left:15px; ">Media Type</span><br />
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="mediaModel" style="width:100%;padding-left:15px; padding-right:15px;">
            <label ngbButtonLabel class="btn-primary" style="width:100%;">
              <input ngbButton type="radio" (click)="updateSearchParameters('type', 'Video')"[value]="1"> Videos <span class="badge">{{vidCnt}}</span>
            </label>
            <label ngbButtonLabel class="btn-primary" style="width:100%;">
              <input ngbButton type="radio" (click)="updateSearchParameters('type', 'Images')"  [value]="2"> Images <span class="badge">{{imgCnt}}</span>
            </label>
            <label ngbButtonLabel class="btn-primary" style="width:100%;">
              <input ngbButton type="radio" (click)="updateSearchParameters('type', 'VR')" [value]="3"> VR <span class="badge">{{vrCnt}}</span>
            </label>
          </div>
        </div>

</div>



<div class="container-fluid" style="padding-top:15px;">
    <div *ngIf="releveantAds.length < 1" class="" style="padding-top:10%; text-align:center;padding-bottom:50px;">
        <img src="../assets/Images/giphy.gif" /><br /><span style="font-size:15pt; color:pink;">Loading Content</span>
    </div>
  <div class="row">
      
    <div class="col-sm-2" style="padding-bottom:25px;min-width:300px;" *ngFor="let entry of pageResults | orderBy: reverse : true">
      <div class="col-md-12" style="padding-bottom:0px;text-align:center;">

        <div *ngIf="entry.thumbnail" class="thumbnail" style="border-radius: 10px;"><a [href]='sanitizer.bypassSecurityTrustResourceUrl(entry.link)' target="blank"><img src="../assets/Images/{{entry.thumbnail}}" class="container-fluid" style="max-height:250px; max-width:300px;border-radius: 10px;" alt="" ></a></div>
        <div *ngIf="entry.thumbnailURL" class="thumbnailURL" ><a [href]='sanitizer.bypassSecurityTrustResourceUrl(entry.link)' target="blank"><img src="{{entry.thumbnailURL}}"  alt="" /></a></div>
        
        <div>{{entry.title}}</div>
        <div style="font-size:9pt;">{{entry.description}}<br /><span style="color:#c60000;"><strong>genre:</strong></span> {{entry.genre}} <span style="color:#c60000;">|</span>
          <span style="color:#c60000;"><strong>threshold:</strong></span> {{entry.threshold}} <br />
          <span style="color:#c60000;"><strong>tags:</strong></span>
          <a style="color:blue; cursor:pointer; text-decoration:underline;" (click)="searchEntries(entry.keyword.tag1)">{{entry.keyword.tag1}}</a>
          <a style="color:blue; cursor:pointer; text-decoration:underline;" class="tag" (click)="searchEntries(entry.keyword.tag2)">{{entry.keyword.tag2}} </a>
          <a style="color:blue; cursor:pointer; text-decoration:underline;" class="tag" (click)="searchEntries(entry.keyword.tag3)" >{{entry.keyword.tag3}} </a>
          <a style="color:blue; cursor:pointer; text-decoration:underline;" class="tag" (click)="searchEntries(entry.keyword.tag4)" >{{entry.keyword.tag4}} </a>
          <a style="color:blue; cursor:pointer; text-decoration:underline;" class="tag" (click)="searchEntries(entry.keyword.tag5)" >{{entry.keyword.tag5}} </a>
                                      </div>
        </div>
    </div>
    
    <div class="col-sm-12">
    <ngb-pagination #pagination class="d-flex justify-content-center" [ellipses]="true" [collectionSize]="collectionSize" [(page)]="currentPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
 </div>
</div><div class="row">
    <div class="col-sm-3" style=""></div>
    <div class="col-sm-6" style="padding-top:35px;padding-bottom:25px;">
    <div class="col-sm-12" style="text-align:center;color:hotpink;" >Our content sponsors and affiliations</div>
    <div class="row">
    <div class="col-sm-2" style="vertical-align:middle; padding:8px 8px 8px 8px;" *ngFor="let ad of releveantAds">
        <div  [innerHTML]="ad.affiliateMedia"></div>
    </div>
  </div>
  </div>
  <div class="col-sm-3" ></div>

      
    
      </div></div>