.sexploreDropdown{
    background-color: white;
    border-radius: 10px;
    }

.tag{ color:blue; cursor: pointer;}
.tagHover{ color:#C60000; text-decoration: underline; }

.thumbnailURL {display:block;
    position:relative;
    padding-bottom:50%;
    overflow:hidden;
    border-radius: 5px;}
.thumbnailURL img {position:absolute;
    width: 100%;
    height:auto;
    display:block;}

.thumbnail{position:relative;
    padding-bottom:50%;
    overflow:hidden;
    border-radius: 5px;
    
}
.thumbnail img {position:absolute;
    width: 100%;
    height:auto;
    display:block;
    left: 0px;
    right: 0px;}

.pagerClass li{
padding:5px 5px 5px 5px;
}