<div class="container-fluid" style="max-height: 30%;margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;width:100%;">
<div class="row">
  <ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img src="../assets/Images/Hi/slide1.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Welcome to Vanilla4Kink.com</h3>
      <p>Helping angels who play with demons find their common cloud.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/Images/Hi/slide1.jpg" alt="Random second slide">
    <div class="carousel-caption" >
      <h3>We are currently adding:</h3>
      <p>More contributors and members. </p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/Images/Hi/slide1.jpg" alt="Random third slide">
    <div class="carousel-caption" >
      <h3>And..</h3>
      <p>More content and galleries.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/Images/Hi/slide1.jpg" alt="Random third slide">
    <div class="carousel-caption">
      <h3>And..</h3>
      <p>Tags and thresholds.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
      <img src="../assets/Images/Hi/slide1.jpg" alt="Random third slide">
      <div class="carousel-caption">
        <h3>And..</h3>
        <p>More products in our Adult Store!</p>
      </div>
    </ng-template>
</ngb-carousel>
</div>
<div class="row" style="padding:50px 50px 50px 50px;">

<div class="col-md-12">
<div><span><strong>What is Vanilla4Kink?</strong></span>
  <p>Vanilla4Kink is a website that is aimed at helping Vanilla partners understand their Kinks (or kinky partners). 
    Our blog discusses topics that help couples find their common ground in the bedroom. 
    Our Sexplore App helps users explore different fetishes and sex acts as well as provides advice on how to perform them. 
    We also have an adult shop and lots of adult content presented in a more friendly pornographic nature. 
   Everything you need to rekindle the fire and ignite your sex life... and love life.<br /><br />
</p>
<p style="text-align: center;">  "Vanilla4Kink is an adult community with adult content at its cleanest. We are couples helping couples."</p>
<br /><br />
</div>
</div>
<div class="col-md-6" style="padding-top:40px; padding-bottom:50px;  ">
    <div class="row">
    <div class="col-md-3" style="min-width:250px;">      
          <p>Our Blog</p>
          <p style="font-size:12pt;">Read about other couples experiences and find out how they bridged the "Vanilla/Kink gap in their relationships.</p>
    </div>
    <div class="col-md-7" style="text-align:center;">
            <img src="../assets/Images/LogoBlog2.png" style="height: 40px; width:203px; margin-bottom:10px;" /> <br />
          <img src="../assets/Images/BlogSS.png" class="container-fluid" style="border:1px solid pink;"  />
    </div>
  </div>
  </div>

<div class="col-md-6" style="padding-top:40px;padding-bottom:50px;  ">
    <div class="row">
    <div class="col-md-3" style="min-width:250px;">      
          <p>Our Sexplore App</p>
          <p style="font-size:12pt;">Set your threshold and discover new Sex Acts and read about how other couples have incorporated them into their sex lives with our Sexplore App.</p>
    </div>
    <div class="col-md-7" style="text-align:center;">
            <img src="../assets/Images/LogoSexplore2.png" style="height: 40px; width:203px; margin-bottom:10px;" /> <br />
          <img src="../assets/Images/SexploreSS.png" class="container-fluid" style="border:1px solid pink;"  />
    </div>
  </div>
  </div>
  <div class="col-md-12" style="padding-top:100px;"></div>
  <div class="col-md-6" style="padding-top:40px; padding-bottom:50px; ">
    <div class="row">
      <div class="col-md-3" style="min-width:250px;"> 
            <p>Our Explicit Section</p>
            <p style="font-size:12pt;">Set your threshold and sample a large selection of pornographic sites. Hand picked by both Vanillas and Kinks. Like what you see? We often offer membership discounts to many of these adult sites.</p>
          </div>
          <div class="col-md-7" style="text-align:center;">
              <img src="../assets/Images/LogoExplicit2.png" style="height: 40px; width:203px; margin-bottom:10px;" /> <br />
            <img src="../assets/Images/ExplicitSS.png" class="container-fluid" style="border:1px solid pink;"  />
          </div>
        </div>
    </div>
    <div class="col-md-6" style="padding-top:40px; padding-bottom:50px; ">
        <div class="row">
          <div class="col-md-3" style="min-width:250px;"> 
                <p>Our Adult Shop</p>
                <p style="font-size:12pt;">Thousands of different products to choose from! Support us by visiting our Adult Shop.</p>
              </div>
              <div class="col-md-7" style="text-align:center;">
                  <img src="../assets/Images/ShopLogo2.jpg" style="height: 40px; width:203px; margin-bottom:10px;" /> <br />
                <img src="../assets/Images/StoreSS.png" class="container-fluid" style="border:1px solid pink;"  />
              </div>
            </div>
        </div>
    

        
</div>
<div class="row" style="">
<div class="col-md-4" style="padding-top:40px; padding-bottom:50px; "></div>
<div class="col-md-4" style="padding-top:170px; padding-bottom:50px; "><app-mailing-list></app-mailing-list></div>
<div class="col-md-4" style="padding-top:40px; padding-bottom:50px; "></div>
</div>
<div class="row" style="background-color:lightpink; padding-top:20px; padding-bottom:20px;">
    <div class="col-md-4" style=""></div>
</div>
</div>

