<div class="container-fluid" style="max-height: 30%;margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;width:100%;">
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img src="../assets/Images/Hi/slide1.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Welcome to Vanilla4Kink.com</h3>
      <p>We are still under construction!<br />Feel free to take a sneak peek!</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/Images/Hi/slide1.jpg" alt="Random second slide">
    <div class="carousel-caption" >
      <h3>We are currently adding:</h3>
      <p>More contributors and members. </p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/Images/Hi/slide1.jpg" alt="Random third slide">
    <div class="carousel-caption" >
      <h3>And..</h3>
      <p>More content and galleries.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/Images/Hi/slide1.jpg" alt="Random third slide">
    <div class="carousel-caption">
      <h3>And..</h3>
      <p>Tags and thresholds.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
      <img src="../assets/Images/Hi/slide1.jpg" alt="Random third slide">
      <div class="carousel-caption">
        <h3>And..</h3>
        <p>More products in our Adult Store!</p>
      </div>
    </ng-template>
</ngb-carousel>
</div>