

<div id="Show{{postedArticleId}}" style="padding-top:20px;padding-bottom:25px; color:#C60000; cursor:pointer; font-size:10pt;"
(click)="DisplayDIV('Cmnt' + postedArticleId); HideDIV('Show' + postedArticleId);DisplayDIV('Hide' + postedArticleId);">{{titleOpen}} +</div>
<div id="Hide{{postedArticleId}}" style="padding-top:20px;padding-bottom:25px; color:#C60000;cursor:pointer; font-size:10pt; display:none;"
(click)="HideDIV('Cmnt' + postedArticleId); HideDIV('Hide' + postedArticleId); DisplayDIV('Show' + postedArticleId)">{{titleClose}} -</div>

<div id="Cmnt{{postedArticleId}}" style="display:none;">
        <div *ngIf="userData.length == 'undefined'" class="container-fluid">
            <p style="text-align:center;  padding-bottom:15px; color:gray;">You must be logged in to contribute. Please <span onclick="window.location.href ='http://vanilla4kink.com/?section=members';" style="color:blue; cursor:pointer;">log in or apply</span> for an account.</p>
        </div>
    <div *ngIf="userData.userName" class="container-fluid">
        <form id="formNewProduct" name="formNewProduct" #commentData = "ngForm" (ngSubmit) = "addComment(commentData.value)">
          <div style="padding-bottom:10px;">
          <textarea type="text"  rows="3" name="comment" id="comment" placeholder="Write your comment" class="form-control" ngModel #comment></textarea>
          </div>
          <div style="padding-bottom:10px;text-align:right;">
          <input type="submit" (click)="comment.value='';" class="btn btn-outline-primary " value="Add Comment">
          </div>
        </form>
      </div>
<div *ngFor="let comment of userComments">
    <div *ngIf="(userComments!.length > 0)">
        <span style="font-size:10pt;color:#C60000;">{{comment.user}} - {{comment.memberStatus}}</span>
        <span style="font-size:10pt;color:purple;">({{comment.commentorType}})</span>
        <span style="font-size:10pt;color:black;"><i>{{comment.timestamp}}</i></span>
        <p style="font-size:10pt;">{{comment.comment}}</p>

    </div>

</div>
</div>