.dropdown-toggle::after{
    content:initial
 }

 .sexActsPanel{
    
    border:1px solid majenta;
    margin-top:20px; 
    margin-bottom:20px;
    border-radius: 7px;
    padding:8px 8px 8px 8px;
 }

 .elementBackground{ background-color: white; border-color:pink;}

 .imageRadius{border-radius: 40px;}
 

 ::ng-deep .body-bgcolor{
    background-color: white;
  }
.sexploreDropdown{
background-color: white;
border-radius: 10px;
}

.adPanel{
  
  border:1px solid #428bca;
  margin-top:20px; 
  margin-bottom:20px;
  border-radius: 7px;
  padding:8px 8px 8px 8px;
}
.thumbnailURL {display:block;
  position:relative;
  padding-bottom:50%;
  overflow:hidden;
  border-radius: 5px;}
.thumbnailURL img {position:absolute;
  width: 100%;
  height:auto;
  display:block;}

.thumbnail{position:relative;
  padding-bottom:50%;
  overflow:hidden;
  border-radius: 5px;
  
}
.thumbnail img {position:absolute;
  width: 100%;
  height:auto;
  display:block;
  left: 0px;
  right: 0px;}

  .qMark{
    border-radius: 50px; background-color: blue; cursor:pointer; color:white; padding-right:10px; padding-left: 10px; padding-bottom: 5px; font-weight: bold;
  }